.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s ease-in-out;
  /* background-color: blue; */
  
  /* position: -webkit-sticky; */
}

.is-sticky{
  position: fixed;
  background-color: green;
  
  /* width: 100%; */
}

.logo{
 
  font-size: 30px;
  flex: 1;
  color: yellow;
}



.items{
  flex: 2;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: white;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.icon{
  margin-right: 10px;
}

/* .navbar-items{
  flex: 1 ;
   display: flex; 
  justify-content: space-around;
  align-items: center;
}
.navbar-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
} */

/* ul#menuItems {
    background: none;
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0;
  }
  ul#menuItems li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    top: 0px;
    height: 50px;
  }
  ul#menuItems li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    height: 50px;
    width: auto;
    display: block;
    text-align: center;
    line-height: 50px;
  } */
  ul > li{
    display: inline-block;
  }

  .fa{
    /* display: inline !important; */
   display:  inline;
   float: right;
  }


.icon-archive{
  float:left; 
}
.text{
  float:left;
  margin-left: 5px; 
}

.icon-archive, .text{
  font-size: 20px;
}
