.banner{
    position: relative;
    height: 89vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image .8s ease-in-out;
}

.banner .heading1 {
    position: absolute;
    height: 20px;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 30px;
}
